#input_key{
	margin-bottom: 5px;
}
#keyword_box { 
	margin-top: 5px;	
}

.dbcheck{
	top: 5%;
/*	left: 20%; */
	z-index:1;
}

.panel {
	border: 1px solid #f4511e; 
	border-radius:0 !important;
	transition: box-shadow 0.5s;
	margin-bottom: auto;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-heading {
  	color: #fff !important;
  	background-color: #f4511e !important;
  	padding: 5px;
  	border-bottom: 1px solid transparent;
  	border-top-left-radius: 0px;
  	border-top-right-radius: 0px;
  	border-bottom-left-radius: 0px;
  	border-bottom-right-radius: 0px;
}
/*
#window_login .panel-body .btn {
	background-color: rgb(244, 81, 30);
	color: #fff; 
}
*/
.panel-footer .btn:hover,.panel-body .btn:hover {
	color: #f4511e;
	border: 1px solid #f4511e;
	background-color: #fff !important; 
}
.panel-footer {
	border-top: 0px;
	background-color: white !important;
	padding: 5px;
}
.panel-footer button {
	width: 40%;
	text-align: center;
	margin: auto;
	padding: 5px;
}
.panel-heading h1{
  	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.panel-footer .btn {
  margin: 5px 0;
  background-color: #f4511e;
  color: #fff;
}

.message>p{
	font-size: 0.7em;	
}

#nav_title:hover{
	color: #9d9d9d;
}

#window_login, #login_bottom{
	padding: 0;
	height: 12em;		
}

.temp{
	height:4em;
	padding:0;
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#login_bottom{
	border: 1px solid #f4511e;
	margin-top: 1em;
	height: 17em;
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	text-align: center;
}

#window_intro {
	border: 1px solid #f4511e;
	height: 30em;
	display: flex;
	vertical-align: middle;
	align-items: center;
	justify-content: center;
	
}

/*
#window_login .panel-body{
	display: grid;
	grid-template-columns: 2fr 5fr 3fr;
	padding-bottom: 0;
	overflow:hidden;
}
#window_login .panel-body .id{ 
	grid-column: 1/2;
	grid-row: 1/2;
}
#window_login .panel-body .input_id{ 
	grid-row: 1/2;
	grid-column:2/3;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}
#window_login .panel-body .pw{  
	grid-row:2/3;
	grid-column:1/2;
}
#window_login .panel-body .input_pw{  
	grid-row:2/3;
	grid-column:2/3;
	width: 100%;
	margin-left:auto;
	margin-right:auto;
}
#window_login .panel-body .login_btn{  
	grid-row:1/3;
	grid-column:3/4;
}
*/
.login_btn {
	padding:0;
	margin:0;
	width:80%;
	height:100%;
	background-color:#f4511e;
	color: white;
	font-size:expression(document.body.clientWidth /15)
}