#input_key{
	margin-bottom: 5px;
}
#keyword_box { 
	margin-top: 5px;	
}

.dbcheck{
	top: 5%;
/*	left: 20%; */
	z-index:1;
}

.panel {
  border: 1px solid #f4511e; 
  border-radius:0 !important;
  transition: box-shadow 0.5s;
}
.panel:hover {
  box-shadow: 5px 0px 40px rgba(0,0,0, .2);
}
.panel-heading {
  	color: #fff !important;
  	background-color: #f4511e !important;
  	padding: 5px;
  	border-bottom: 1px solid transparent;
  	border-top-left-radius: 0px;
  	border-top-right-radius: 0px;
  	border-bottom-left-radius: 0px;
  	border-bottom-right-radius: 0px;
}
.panel-footer .btn:hover {
  border: 1px solid #f4511e;
  background-color: #fff !important;
  color: #f4511e;
}
.panel-footer {
	background-color: white !important;
	padding: 5px;
}
.panel-heading h1{
  	font-size: 16px;
	margin-bottom: 5px;
	margin-top: 5px;
}
.panel-footer .btn {
  margin: 5px 0;
  background-color: #f4511e;
	color: #fff;
	
}

.message>p{
	font-size: 0.7em;	
}

#nav_title:hover{
	color: #9d9d9d;
}

.news_select{
	padding: 0;
	border: none;
	background: none;
	color: blue;
}

news_select, news_select:focus, news_select:active{
	padding: 0;
}
.title{
	position: relative;
}
.article{
	width:600px;
}
